.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #dc143c !important;
}
.bg-success {
  background-color: #ffed7b !important;
}
.bg-info {
  background-color: #fffdf2 !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #ff4500 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #dc143c !important;
  border-color: #dc143c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ed365b !important;
  border-color: #ed365b !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ed365b !important;
  border-color: #ed365b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-info,
.btn-info:active {
  background-color: #fffdf2 !important;
  border-color: #fffdf2 !important;
  color: #f2cd00 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #f2cd00 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffed7b !important;
  border-color: #ffed7b !important;
  color: #7b6a00 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #fff4ae !important;
  border-color: #fff4ae !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #7b6a00 !important;
  background-color: #fff4ae !important;
  border-color: #fff4ae !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ff6a33 !important;
  border-color: #ff6a33 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff6a33 !important;
  border-color: #ff6a33 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #dc143c;
  color: #dc143c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #8d0d26 !important;
  background-color: transparent !important;
  border-color: #8d0d26 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #dc143c !important;
  border-color: #dc143c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #fffdf2;
  color: #fffdf2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #fff09b !important;
  background-color: transparent !important;
  border-color: #fff09b !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #f2cd00 !important;
  background-color: #fffdf2 !important;
  border-color: #fffdf2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #ffed7b;
  color: #ffed7b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffe124 !important;
  background-color: transparent !important;
  border-color: #ffe124 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #7b6a00 !important;
  background-color: #ffed7b !important;
  border-color: #ffed7b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff4500;
  color: #ff4500;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a82e00 !important;
  background-color: transparent !important;
  border-color: #a82e00 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #dc143c !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #ffed7b !important;
}
.text-info {
  color: #fffdf2 !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #ff4500 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7f0b22 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #ffdf15 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #ffed8c !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #992900 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #dc143c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fffdf2;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #ff4500;
}
.mbr-gallery-filter li.active .btn {
  background-color: #dc143c;
  border-color: #dc143c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #dc143c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fac3ce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffdacc;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #dc143c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #dc143c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #dc143c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #dc143c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #dc143c;
  border-bottom-color: #dc143c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #dc143c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23dc143c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uGuVHYrT1q {
  z-index: 1000;
  width: 100%;
}
.cid-uGuVHYrT1q nav.navbar {
  position: fixed;
}
.cid-uGuVHYrT1q .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uGuVHYrT1q .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uGuVHYrT1q .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-uGuVHYrT1q .dropdown-item:hover,
.cid-uGuVHYrT1q .dropdown-item:focus {
  background: #dc143c !important;
  color: white !important;
}
.cid-uGuVHYrT1q .dropdown-item:hover span {
  color: white;
}
.cid-uGuVHYrT1q .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uGuVHYrT1q .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uGuVHYrT1q .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uGuVHYrT1q .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uGuVHYrT1q .nav-link {
  position: relative;
}
.cid-uGuVHYrT1q .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uGuVHYrT1q .container {
    flex-wrap: wrap;
  }
}
.cid-uGuVHYrT1q .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uGuVHYrT1q .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-uGuVHYrT1q .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uGuVHYrT1q .dropdown-menu,
.cid-uGuVHYrT1q .navbar.opened {
  background: #fff095 !important;
}
.cid-uGuVHYrT1q .nav-item:focus,
.cid-uGuVHYrT1q .nav-link:focus {
  outline: none;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uGuVHYrT1q .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uGuVHYrT1q .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uGuVHYrT1q .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 240, 149, 0.7);
}
.cid-uGuVHYrT1q .navbar.opened {
  transition: all 0.3s;
}
.cid-uGuVHYrT1q .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uGuVHYrT1q .navbar .navbar-logo img {
  width: auto;
}
.cid-uGuVHYrT1q .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uGuVHYrT1q .navbar.collapsed {
  justify-content: center;
}
.cid-uGuVHYrT1q .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uGuVHYrT1q .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uGuVHYrT1q .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uGuVHYrT1q .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uGuVHYrT1q .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uGuVHYrT1q .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uGuVHYrT1q .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uGuVHYrT1q .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uGuVHYrT1q .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uGuVHYrT1q .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uGuVHYrT1q .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uGuVHYrT1q .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-uGuVHYrT1q .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-uGuVHYrT1q .navbar.navbar-short {
  min-height: 60px;
}
.cid-uGuVHYrT1q .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uGuVHYrT1q .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uGuVHYrT1q .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uGuVHYrT1q .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uGuVHYrT1q .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uGuVHYrT1q .dropdown-item.active,
.cid-uGuVHYrT1q .dropdown-item:active {
  background-color: transparent;
}
.cid-uGuVHYrT1q .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uGuVHYrT1q .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uGuVHYrT1q .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uGuVHYrT1q .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff095;
}
.cid-uGuVHYrT1q .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uGuVHYrT1q .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uGuVHYrT1q ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uGuVHYrT1q .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uGuVHYrT1q button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uGuVHYrT1q a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uGuVHYrT1q .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uGuVHYrT1q .navbar {
    height: 70px;
  }
  .cid-uGuVHYrT1q .navbar.opened {
    height: auto;
  }
  .cid-uGuVHYrT1q .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uGuZwUbwn9 {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uGuZwUbwn9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGuZwUbwn9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-uGuZwUbwn9 .row {
    flex-direction: column-reverse;
  }
  .cid-uGuZwUbwn9 .mbr-figure {
    margin-bottom: 1.5rem;
  }
}
.cid-uGuZwUbwn9 .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-uGuZwUbwn9 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uGuZwUbwn9 .media-content,
.cid-uGuZwUbwn9 .mbr-figure {
  align-self: center;
}
.cid-uGuZwUbwn9 .mbr-figure iframe {
  width: 100%;
}
.cid-uGuZwUbwn9 .mbr-text,
.cid-uGuZwUbwn9 .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-uGvhhUePfO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uGvhhUePfO .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGvhhUePfO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uGvhhUePfO .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-direction: column;
  position: relative;
  margin-bottom: 3rem;
}
.cid-uGvhhUePfO .item .icon-wrap {
  text-align: center;
}
.cid-uGvhhUePfO .item::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 97%;
  color: #dc143c;
  transform: translate(-50%, 0);
}
.cid-uGvhhUePfO .item:last-child:before {
  display: none;
}
.cid-uGvhhUePfO .item.last::before {
  display: none;
}
.cid-uGvhhUePfO .icon-box {
  background: #dc143c;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
.cid-uGvhhUePfO .text-box {
  text-align: center;
}
.cid-uGvhhUePfO span {
  font-size: 2rem;
  color: #ffffff;
  line-height: 60px;
}
@media (max-width: 991px) {
  .cid-uGvhhUePfO .card {
    margin-bottom: 2rem;
  }
  .cid-uGvhhUePfO .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uGvlzKYtHH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fff095;
}
.cid-uGvlzKYtHH .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGvlzKYtHH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uGvlzKYtHH .card-wrapper {
  background: #fff095;
}
@media (max-width: 767px) {
  .cid-uGvlzKYtHH .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uGvlzKYtHH .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uGvlzKYtHH .card-wrapper {
    padding: 9rem 4rem;
  }
}
.cid-uGvlzKYtHH .mbr-text,
.cid-uGvlzKYtHH .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-uGvlzKYtHH .card-title,
.cid-uGvlzKYtHH .card-box {
  text-align: center;
  color: #dc143c;
}
.cid-uGvn2OEzNM {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uGvn2OEzNM .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGvn2OEzNM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uGvn2OEzNM .nav-tabs .nav-item.open .nav-link:focus,
.cid-uGvn2OEzNM .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-uGvn2OEzNM .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #dc143c;
}
@media (max-width: 767px) {
  .cid-uGvn2OEzNM .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-uGvn2OEzNM .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-uGvn2OEzNM .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-uGvn2OEzNM .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-uGvn2OEzNM .nav-link,
.cid-uGvn2OEzNM .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-uGvn2OEzNM .nav-tabs .nav-link.active {
  color: #dc143c;
  border-bottom: 3px solid #dc143c;
}
.cid-uGvn2OEzNM H4 {
  text-align: center;
}
.cid-uGvn2OEzNM H3 {
  text-align: center;
}
.cid-uGFN9gt7bV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1920x1208.webp");
}
.cid-uGFN9gt7bV .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGFN9gt7bV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uGFN9gt7bV .item-wrapper {
  background-color: #fafafa;
  margin-bottom: 2rem;
  border-radius: 4px;
  background: #fafafa;
  transition: all 0.3s;
  padding: 2rem;
  padding-top: 3rem;
}
.cid-uGFN9gt7bV .mbr-section-title,
.cid-uGFN9gt7bV .mbr-section-subtitle {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-uGFN9gt7bV .item-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 767px) {
  .cid-uGFN9gt7bV .item-wrapper {
    padding: 1rem;
    padding-top: 2rem;
  }
}
.cid-uGFN9gt7bV .mbr-section-title {
  color: #fff095;
}
.cid-uGFN9gt7bV .price {
  color: #dc143c;
}
.cid-uGFN9gt7bV .card-title {
  color: #dc143c;
}
.cid-uGG0xSh1kp {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uGG0xSh1kp .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGG0xSh1kp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uGv8y1jkU4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uGv8y1jkU4 .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-uGv8y1jkU4 .panel-group {
  border: none;
}
.cid-uGv8y1jkU4 .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-uGv8y1jkU4 .card-header {
    padding: 0rem;
  }
}
.cid-uGv8y1jkU4 .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-uGv8y1jkU4 .img-col {
  padding: 0;
}
.cid-uGv8y1jkU4 .img-item {
  height: 100%;
}
.cid-uGv8y1jkU4 img {
  height: 100%;
  object-fit: cover;
}
.cid-uGv8y1jkU4 .collapsed span {
  transform: rotate(0deg);
}
.cid-uGv8y1jkU4 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-uGv8y1jkU4 p {
  margin-bottom: 0.3rem;
}
.cid-uGv8y1jkU4 .panel-title-edit {
  color: #000000;
}
.cid-uGv8y1jkU4 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-uGv8y1jkU4 .card {
  background: #fff095;
  padding: 2.25rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-uGv8y1jkU4 .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uGv8y1jkU4 .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-uGv8y1jkU4 .panel-text {
  color: #000000;
}
.cid-uGv8y1jkU4 .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-uGv8y1jkU4 .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-uGv8y1jkU4 .panel-title-edit,
.cid-uGv8y1jkU4 .mbr-iconfont {
  color: #000000;
}
.cid-uGFOVpY8Pj {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uGFOVpY8Pj .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGFOVpY8Pj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uGFOVpY8Pj .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-uGFOVpY8Pj .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #fff095;
}
@media (max-width: 991px) {
  .cid-uGFOVpY8Pj .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uGFOVpY8Pj .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-uGFOVpY8Pj .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #dc143c;
}
.cid-uGFR0rlGML {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uGFR0rlGML .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGFR0rlGML .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uGFSj3I3LV {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-uGFSj3I3LV .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uGFSj3I3LV .social-row {
  width: 100%;
  justify-content: center;
}
.cid-uGFSj3I3LV .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-uGFSj3I3LV .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-uGFSj3I3LV .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-uGFSj3I3LV .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-uGFSj3I3LV .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-uGFSj3I3LV .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-uGFSj3I3LV .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-uGFSj3I3LV .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-uGFSj3I3LV .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-uGFSj3I3LV .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-uGFSj3I3LV .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-uGFSj3I3LV .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-uGFSj3I3LV .media-container-row .mbr-text {
  color: #fff095;
}
.cid-uGuVHYrT1q {
  z-index: 1000;
  width: 100%;
}
.cid-uGuVHYrT1q nav.navbar {
  position: fixed;
}
.cid-uGuVHYrT1q .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uGuVHYrT1q .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uGuVHYrT1q .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-uGuVHYrT1q .dropdown-item:hover,
.cid-uGuVHYrT1q .dropdown-item:focus {
  background: #dc143c !important;
  color: white !important;
}
.cid-uGuVHYrT1q .dropdown-item:hover span {
  color: white;
}
.cid-uGuVHYrT1q .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uGuVHYrT1q .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uGuVHYrT1q .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uGuVHYrT1q .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uGuVHYrT1q .nav-link {
  position: relative;
}
.cid-uGuVHYrT1q .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uGuVHYrT1q .container {
    flex-wrap: wrap;
  }
}
.cid-uGuVHYrT1q .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uGuVHYrT1q .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-uGuVHYrT1q .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uGuVHYrT1q .dropdown-menu,
.cid-uGuVHYrT1q .navbar.opened {
  background: #fff095 !important;
}
.cid-uGuVHYrT1q .nav-item:focus,
.cid-uGuVHYrT1q .nav-link:focus {
  outline: none;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uGuVHYrT1q .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uGuVHYrT1q .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uGuVHYrT1q .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uGuVHYrT1q .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 240, 149, 0.7);
}
.cid-uGuVHYrT1q .navbar.opened {
  transition: all 0.3s;
}
.cid-uGuVHYrT1q .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uGuVHYrT1q .navbar .navbar-logo img {
  width: auto;
}
.cid-uGuVHYrT1q .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uGuVHYrT1q .navbar.collapsed {
  justify-content: center;
}
.cid-uGuVHYrT1q .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uGuVHYrT1q .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uGuVHYrT1q .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uGuVHYrT1q .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uGuVHYrT1q .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uGuVHYrT1q .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uGuVHYrT1q .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uGuVHYrT1q .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uGuVHYrT1q .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uGuVHYrT1q .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uGuVHYrT1q .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uGuVHYrT1q .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uGuVHYrT1q .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uGuVHYrT1q .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-uGuVHYrT1q .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-uGuVHYrT1q .navbar.navbar-short {
  min-height: 60px;
}
.cid-uGuVHYrT1q .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uGuVHYrT1q .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uGuVHYrT1q .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uGuVHYrT1q .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uGuVHYrT1q .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uGuVHYrT1q .dropdown-item.active,
.cid-uGuVHYrT1q .dropdown-item:active {
  background-color: transparent;
}
.cid-uGuVHYrT1q .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uGuVHYrT1q .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uGuVHYrT1q .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uGuVHYrT1q .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fff095;
}
.cid-uGuVHYrT1q .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uGuVHYrT1q .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uGuVHYrT1q ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uGuVHYrT1q .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uGuVHYrT1q button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uGuVHYrT1q button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uGuVHYrT1q nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uGuVHYrT1q .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uGuVHYrT1q a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uGuVHYrT1q .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uGuVHYrT1q .navbar {
    height: 70px;
  }
  .cid-uGuVHYrT1q .navbar.opened {
    height: auto;
  }
  .cid-uGuVHYrT1q .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uGG4QpmMMI {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uGFSj3I3LV {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-uGFSj3I3LV .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uGFSj3I3LV .social-row {
  width: 100%;
  justify-content: center;
}
.cid-uGFSj3I3LV .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-uGFSj3I3LV .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-uGFSj3I3LV .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-uGFSj3I3LV .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-uGFSj3I3LV .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-uGFSj3I3LV .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-uGFSj3I3LV .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-uGFSj3I3LV .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-uGFSj3I3LV .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-uGFSj3I3LV .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-uGFSj3I3LV .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-uGFSj3I3LV .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-uGFSj3I3LV .media-container-row .mbr-text {
  color: #fff095;
}
